* {
  margin: 0;
  padding: 0;
}
:root{
  --svgWidth:5vw,
  --svgHeight:4rem,
}

html,
body {
  padding: 0;
  margin: 0;
  
  font-family: 'Barlow Semi Condensed', sans-serif;

  background-image: linear-gradient(
    45deg,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-size:contain;

  padding: 0.5rem;
}

@media screen and (min-width:600px) {
  body{
    padding-left: 9rem;
    padding-right: 9rem;
  }
  
}
