.circle {
  border-width: 11px;
  border-style: solid;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: inset -2px -2px 5px 0px #0000007a;
  z-index: 1000;
}

.container {
  width: 95vw;
  border: solid 1px green;
  display: grid;
  row-gap: 2rem;
  position: relative;
}

.flex {
  display: flex;
}
.flex_jc_sb {
  display: flex;
  justify-content: space-between;
}
.flex_jc_se {
  display: flex;
  justify-content: space-evenly;
}

.mc {
  margin: auto;
}

.mySvg {
  margin: auto;
  margin-top: 4rem;
}

.mySvg circle {
  fill: white;
  stroke-width: 10;
  box-shadow: inset 1px 1px black;
}
.mySvg image {
  width: 2.3rem;
}

.mySvg line {
  stroke: black;
  stroke-width: 13;
}

@media screen and (min-width: 600px) {
  .mySvg {
    transform: scale(1.1);
  }
}

.score {
  border: solid white 1px;
  padding: 1rem;
  color: white;
  display: flex;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.score .rock {
  max-width: 1rem;
  font-size: 0.6rem;
  font-weight: 600;
}
.score .scoreCon {
  background-color: white;
  width: 4rem;
  height: 4rem;
  text-align: center;
}
.score .scoreCon p:nth-child(1) {
  color: blue;
}
.score .scoreCon p:nth-child(2) {
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
}

.rulesCon {
  border: solid white 1px;
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: 3rem auto 0;
  color: white;
  z-index: 1000;
}
.rulesImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
  z-index: 1000;
}
.rulesImg.show {
  display: block;
}

.overlay {
  position: absolute;
  background-color: #000000e0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
}
